body {
    font-family: 'Roboto Mono',monospace;
    min-height: 400px;
     background-image: url('conversaoimg.png');
    background-color: #000000;
    background-size: 100vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
form{
  height: 70vh;
  text-align: center;
 } 
  .container {
    text-align: center; /* centraliuzando texto */
    padding: 30px;
    height: 30vh;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
  }